body {

    background-color: rgba(232, 255, 225, 0.747);
    color: blue;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* font-family: 'Courier New', Courier, monospace; */


}

button {
    cursor: pointer;
}

.header {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.body-dark-on {
    background-color: rgb(0, 93, 40);
    color: rgb(255, 255, 255);
}

.board-container {

    border-collapse: collapse;
    border: 2px ridge black;
}

.hints {
    /* width: 30px; */
    /* height: 20px; */
    margin-left: 58px;
    text-align: center;
    border: 2px solid gray;
    background-color: black;
}

.hint-off {
    cursor: pointer;
    width: 30px;
    height: 20px;
    /* background-color: rgb(11, 11, 11); */
}

.hint-on {
    width: 30px;
    height: 20px;
    background-color: rgb(248, 255, 123);
}

.safe-click {
    background-color: black;
    /* border: 2px solid gray; */
    margin-top: 10px;
    color: white;
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: rgb(94, 185, 255);
    border: 2px ridge black;
    font-weight: bold;
}

.hover-effect:hover {
    background-color: aqua;
}

.cell-dark-on {
    background-color: rgba(226, 226, 226, 0.747);
}

.hover-effect-dark:hover {
    background-color: rgb(144, 251, 144);
}

.hide {
    opacity: 0;
    transition: 0.5s ease-in-out;

}

.revealed-hint {
    background-color: rgb(255, 169, 98);
    color: rgb(0, 0, 0);

}

.revealed {
    background-color: gray;
    color: white;

}

.mine-clicked {
    background-color: red;
    transition: background-color 0.25s ease-out;
}

.modal-container {
    background-color: #1e00ff;
    height: 50px;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    margin: 10px;
    width: 410px;
    /* position: relative; */
    /* left: 30px; */
    /* position: absolute; */

}

.modal-container-dark-on {
    background-color: yellowgreen;
    color: black;
}

.levels {
    margin: 20px;
}

.footer {
    margin: 20px;
    /* float: middle; */
}

/* .best-score {/ */
/* text-align: left; */
/* padding-left: 70px; */

/* } */

.safe-location {
    background-color: orange;
}

.dark-mode-btn {
    background-color: grey;
    color: whitesmoke;
}

.dark-mode-btn-on {
    background-color: whitesmoke;
    color: grey;
}

.undo-btn {
    background-color: lightblue;
}

.mega-hint-btn {
    background-color: black;
    color: white;
}

.hint-hover-effect:hover {
    background-color: lightcoral;
}